services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "13306:3306"
    volumes:
      - ./db/mysql/data:/var/lib/mysql
      - ./db/mysql/init:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: 1234
